<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1,
                   shrink-to-fit=no">
    <meta name="description"
          content="APP DESCRIPTION">
    <meta name="author"
          content="YOUR NAME">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">書籍管理システム</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap-4.4.1.min.css}">
</head>
<body>
    <div layout:fragment="content"></div>
    <script th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/vendor/popper-1.16.0.min.js}"></script>
    <script th:src="@{/js/bootstrap-4.4.1.min.js}"></script>
</body>
</html>